<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zapisane lokalizacje</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div>
    <h1 class="display-3">Zapisane lokalizacje:</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Miasto</th>
            <th>Rejon</th>
            <th>Kraj</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="location : ${locations}">
            <td th:text="${locationStat.count}"></td>
            <td th:text="${location.city}"></td>
            <td th:text="${location.state}"></td>
            <td th:text="${location.country}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>