<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pobieranie prognozy</title>
</head>
<body>
<div th:style="|display: ${noLocationsDisplay};|">
    <p>Brak zapisanych lokalizacji w bazie danych.</p>
</div>
<div th:style="|display: ${forecastsDisplay};|">
    <h1>Prognozy</h1>
    <div th:each="location : ${locationsWithDisplay}">
        <h2 th:text="|${locationStat.count}. ${location.key.city}, ${location.key.state}, ${location.key.country}|"></h2>
        <table>
            <tr th:each="forecast : ${location.value}">
                <td th:text="${forecast.date}"></td>
                <td th:text="${forecast.description}"></td>
                <td th:text="|TEMP: ${forecast.temp}|"></td>
                <td th:text="|OPADY: ${forecast.precipitation}|"></td>
                <td th:text="|WIATR: ${forecast.wind}|"></td>
                <td th:text="|(źródło): ${forecast.source}|"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>